html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #27aae1;
}
img {
	max-width: 100%;
}
h1 {
	margin: 0;
}

.content {
	padding-left: calc( (110 / 1200) * 100%);
	padding-right: calc( (110 / 1200) * 100%);
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	min-height: 100%;
}

.content__wrap {
	font-size: 15px;
	line-height: 25px;	
}

.content__title {
	color: #494949;
}

.content__description {
	color: #ffffff;
	font-size: 20px;
	line-height: 30px;
	margin-top: 5px;
}

.content__description span {
	font-weight: 600;
}

.content__tagline {
	font-weight: 600;
	text-transform: uppercase;
	color: #494949;
	margin-top: 15px;
}

.content__contact {
	color: #ffffff;
	font-size: 15px;
	line-height: 23px;
	margin-top: 10px;
}

@media screen and (min-width: 769px) {

	.content__wrap {
		font-size: 21px;
		line-height: 33px;
		display: flex;
	}

	.content__wrap__figure {
		order: 2;
		width: 30%;
	}

	.content__wrap__text {
		order: 1;
		width: 70%;
	}

	.content__description {
		font-size: 31px;
		line-height: 43px;
		margin-top: 15px;
	}

	.content__tagline {
		margin-top: 75px;
	}

	.content__contact {
		margin-top: 25px;
	}
}
