html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #040404;
}
img {
	max-width: 100%;
}
h1 {
	margin: 0;
}

.content {
	padding-left: calc( (220 / 1200) * 100%);
	padding-right: calc( (220 / 1200) * 100%);
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	min-height: 100%;
}

.content__wrap {
	font-size: 15px;
	line-height: 25px;
	max-width: 440px;
	margin: 0 auto;
}

.content__wrap__figure {
	text-align: center;
}

.content__title {
	color: #494949;
}

.content__description {
	color: #39addf;
	font-size: 18px;
	line-height: 26px;
	margin-top: 20px;
	text-align: center;
}

.content__description span {
	font-weight: 600;
}

.content__contact {
	color: #ffffff;
	font-size: 15px;
	line-height: 23px;
	margin-top: 10px;
}

.content__social {
	text-align: center;
	margin-top: 20px;
}

.content__social a {
	display: inline-block;
	max-width: 35px;
}

.content__social a + a {
	margin-left: 10px;
}

@media screen and (min-width: 769px) {

	body {
		background: url(./logo-bg.png) no-repeat right center;
		background-size: auto 75%;
		background-color: #040404;
	}

	.content {
		padding-left: calc( (110 / 1200) * 100%);
		padding-right: calc( (110 / 1200) * 100%);
	}

	.content__wrap {
		font-size: 21px;
		line-height: 33px;
		display: flex;
		max-width: 100%;
		margin: 0;
	}

	.content__wrap__figure {
		display: none;
	}

	.content__title {
		max-width: 500px;
	}

	.content__wrap__text {
		order: 1;
		width: 70%;
	}

	.content__description {
		font-size: 31px;
		line-height: 43px;
		text-align: left;
	}

	.content__social {
		margin-top: 35px;
		text-align: left;
	}

	.content__social a {
		max-width: 80px;
	}

	.content__social a + a {
		margin-left: 20px;
	}
}

@media screen and (min-width: 1920px) {

	.content__social {
		margin-top: 75px;
	}

	.content__title {
		max-width: 100%;
	}

	.content__description {
		font-size: 35px;
		line-height: 52px;
		margin-top: 45px;
	}

	.content__social a {
		max-width: 140px;
	}

	.content__social a + a {
		margin-left: 30px;
	}
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
